<nav>
    <ul>
        <li tabindex="0">Home</li>
        <li tabindex="0">Custom</li>
        <li tabindex="0">Sedan</li>
        <li tabindex="0">SUV</li>
        <li tabindex="0">Truck</li>
    </ul>
</nav>

