<% if (title) { %>
    <h1 class="addclass-title"> <%= title%> </h1>
<% } else {
    res.redirect('/')
} %>


<%- messages() %>


<% if(errors && errors.length > 0) { %>
    <ul class="notice">
        <% errors.forEach(error => { %>
            <li> <%= error.msg %> </li>
        <% }) %>
    </ul>    
<% } %>


<fieldset id="addclass-form">
    <i>FIELD IS REQUIRED</i>

    <form action="/inv/add-classification" method="post">
        <h2>Classification Name</h2>

        <label for="Classification">NAME MUST BE ALPHABETIC CHARACTERS ONLY
            <input type="text" name="classification_name" id="Classification" pattern="^[A-Z][a-z0-9]*(?:[A-Z][a-z0-9]*)*$" placeholder="Item" value="<%= locals.classification_name %>" required>
            <span class="form-hint">Name may not contain spaces or special characters</span>
        </label>

        <button type="submit">Add Classification</button>

    </form>
</fieldset>
