<h1 class="mag-title"> <%= title %> </h1>

<%- messages() %>

<div class="mag-links">
    <p><a href="/inv/add-classification"> Add New Classification</a></p>
    <p><a href="/inv/add-inventory"> Add New Vehicle</a></p>
</div>